.img-div {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 65vh; /* Fixed height for the div */
  width: 100%; /* Adjust width as necessary */
  overflow: hidden; /* Hide parts of the image that might overflow */
  max-height: 100%; /* Ensure the div doesn't go above the viewport height */
}

.img-div img {
  height: 100%; /* Full height of the container */
  width: auto; /* Adjust width automatically to maintain aspect ratio */
  object-fit: contain; /* Ensures the image is scaled properly without being cropped */
}

.carousel {
  display: flex; /* Enables flexbox */
  width: 100%;
  max-height: 100%;
  /* if it goes above max-height, center it vertically */
  align-items: center;
}

.control-arrow {
  /* Override any background settings or pseudo-elements */
  background: transparent !important; /* Remove any background color */
}

.control-arrow:hover,
.control-arrow:focus {
  /* Remove changes on hover or focus */
  background: transparent !important;
  outline: none;
}
